<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{% if description %}{{ description }}{% else %}Hi there! My name is Dan and I'm a front-end developer.{% endif %}">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="{{ bodyClass }}">
        <header>
            {% include 'navigation.njk' %}
        </header>
        <main id="main-content">
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
		{% include 'global-script.njk' %}
    </body>
</html>