<footer>
  <p>© {% year %} Dan Grigoriciuc</p>
  <div class="social-media">
    <a href="" class="social-media-icon">
      <i class="bx bxl-facebook"></i>
      <i class="bx bxl-twitter"></i>
      <i class="bx bxl-instagram"></i>
    </a>
  </div>
</footer>
