---
title: About me
description: All about Dan!
layout: page
bodyClass: about-me
eleventyNavigation:
  key: About
  order: 200
---
<p class="intro">Persona dinámica, con ganas de crecer en el ámbito personal y profesional. Me gusta trabajar en equipo,
buscando proyectos interesantes e innovadores.</p>

{% for article in collections.about | sort(false, true, 'data.order') %}
  <article class="flow">
    <h2>{{ article.data.title }}</h2>       
    {{ article.data.page.excerpt | md | safe }}
    {# <a href="{{ article.url | url }}">Read more</a> #}
  </article>
{% endfor %}
