---
title: About me
description: All about Dan!
layout: pages
bodyClass: about-me
eleventyNavigation:
  key: About
  order: 300
---

<h2>About me </h2>
<p> CV</p>
<p> Tech used to build this page</p>
