---
title: My thoughts
layout: pages.njk
bodyClass: article
eleventyNavigation: 
  key: My thoughts
  order: 200
---

<ol>
  {% for post in collections.article %}
    <li>
      <a class="text-neutral-400" href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ol>

{% for post in collections.article %}
  <article class="">
    <h2 class="">{{ post.data.title }}</h2>
    {{ post.data.page.excerpt | md | safe }}
    <a class="" href="{{ post.url | url }}">Read more</a>
  </article>
{% endfor %}
