---
title: Contact
layout: page
bodyClass: contact
eleventyNavigation:
  key: Contact
  order: 900
---

<form class="form" action="https://formsubmit.co/griganu06@gmail.com" method="POST">      
  <input name="name" type="text" class="input" placeholder="Name" />   
  <input name="email" type="text" class="input" placeholder="Email" />
  <textarea name="text" class="input" placeholder="Comment"></textarea>
  <button type="submit">Submit</button>
</form>