---
title: Design System
description: My Design System
layout: pages
bodyClass: design-system
eleventyNavigation: 
  key: My Design System
  order: 500
--- 

<ol>
  {% for example in collections.designSystem %}
    <li>
      <a href="{{ example.url | url }}">{{ example.data.title }}</a>
    </li>
    {{ content | safe}}
  {% endfor %}
</ol>
