---
layout: base.njk
title: Dan Grigoriciuc
bodyClass: home
eleventyNavigation:
  key: Home
  order: 100
--- 

<h1 class="typewriter">Hello, I'm a front-end developer. </h1>
<p class="subtitle">Welcome to my website!!</p>



