---
layout: base
title: Dan Grigoriciuc
bodyClass: home
eleventyNavigation:
  key: Home
  order: 100
--- 

<dg-typewriter text="I'm Dan a front-end developer."></dg-typewriter>
<p class="subtitle">Welcome to my website!!</p>



