{% set navPages = collections.all | eleventyNavigation %}
<nav class="dg-nav">
  <ul role="list" >
    {%- for entry in navPages %}
      <li>
        <a class="dg-button dg-button--with-favicon" href="{{ entry.url | url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}> 
           <i class="fa-solid fa-house"></i>        
          <span>{{ entry.title }}</span>
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>