#main-content {
  display: grid;
  text-align: center;
  place-content: center;
}
.h2-home {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  position: relative;
  margin: top 30px;
  width: max-content;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
}

.h2-home::before,
.h2-home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.h2-home::before {
  background-color: var(--background-color);
  animation: typewriter 7s steps(43) forwards;
}

.h2-home::after{
  width: 0.125em;
  background-color: black;
  animation: 
      typewriter 7s steps(43)  forwards,
      blink 750ms steps(43) infinite;
}

.subtitle {
  font-size: 30px;
  margin: 10rem;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 7s ease forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to{
    background: transparent;
  }
  
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


