@use "../abstracts" as *;

.dg-button {
  background-color: var(--color-primary-300);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 999rem;
  color: var(--color-neutral-100);
  cursor: pointer;
  border: 1px solid var(--color-primary-300);
  outline: none;
  text-decoration: none;
  display: inline-flex;

  &:hover,
  &[aria-current="page"] {
    padding: var(--space-xs) calc(2 * var(--space-md));
    transition: padding 500ms;
    color: var(--color-neutral-100);
  }

  &[aria-current="page"] {
    background-color: var(--color-primary-200);
    border-color: var(--color-primary-200);
  }

  &[disabled] {
    background-color: var(--color-neutral-300);
    cursor: default;
    border-color: var(--color-neutral-300);

    &:hover {
      padding: var(--space-xs) var(--space-md);
    }
  }

  &:focus {
    outline: 2px solid var(--color-primary-300);
  }

  &--with-icon {
    color: aqua;
    span {
      display: none;
    }
    &:hover {
      // padding: var(--space-xs) var(--space-sm);

      span {
        display: inline-block;
        padding-left: var(--space-xs);
        width: auto;
      }
    }

    &::before {
      background-image: url("/assets/img/dg-icon.png");
      background-repeat: no-repeat;
      background-position: center left;
      width: 1rem;
      height: 2rem;
      content: "";
    }
  }
  .dg-icon {
    padding: var(--space-xs) var(--space-xs);
  }

  &--with-favicon {
    color: rgb(0, 255, 34);
    padding: var(--space-sm) var(--space-sm);

    span {
      display: none;
    }
    &:hover {
      padding: var(--space-xs) var(--space-md);

      span {
        display: inline-block;
        padding-left: var(--space-xs);
        width: auto;
      }
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center left;
      border-radius: 50%;
      content: "";
  }
}
}