@use "../abstracts" as *;

:root {
  --section-spacing: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);

  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --color-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $screen-size, $property in $type-scale {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --font-size-#{$prop}: #{$value};
      }
    } @else {
      @include media(small) {
        @each $prop, $value in $property {
          --font-size-#{$prop}: #{$value};
        }
      }
    }
  }
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}
