*{box-sizing:border-box;}
form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:0;
	background-color:#21d9b7;
    
}
#button-submit{
    padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#21d9b7;
	background-color:#002b36
}

