$colors: (
  primary: (
    100: #BAD7E9,
    200: #2C74B3,
    300: #205295,
    400: #144272,
    500: #0A2647,
  ),
  neutral: (
    100: #ffffff,
    200: #bfbfbf,
    300: #7f7f7f,
    400: #404040,
    500: #000000
  )
);