<header>
    <div class="wraper">
        <h1>Main page heading here</h1>
  <nav>
    <a href="/">Inicio</a> -
    <a href="#">Descripcion</a> -
    <a href="#">Contáctame</a>
  </nav>
    <p>Posted by Dan</p>
    </div>
</header>