.about-img{
    height: 100vh;
    background-image:linear-gradient(to top, rgba(48, 208, 208, 0.59) 0%, rgba(51, 8, 104, 0.51) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:left;
  }